<!DOCTYPE html>

<html>
<head>
    <title>KAPx Tutor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="shortcut icon" href="/favicon.ico">
    <!--<link rel="stylesheet" href="/css/boilerplate.min.css">-->
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form action="https://plus.google.com/hangouts/_" method="get">

                <p><input type="text" class="hidden" name="gid" value="g5o6x7rtejvk5rymgbrqksynkma"></p>
                <p>Click on an available subject to launch hangout.</p>
                    <table class="table" data-toggle="table" data-url="docs/subjects.json" data-height="275"
                           data-click-to-select="false" data-single-select="true">
                        <thead>
                        <tr>

                            <th data-field="subject">Subject</th>
                            <th data-field="status" data-formatter="statusFormatter">Status</th>
                            <th data-field="hangouturl" data-visible="false">Hangout</th>
                        </tr>
                        </thead>
                    </table>
                    <!--<p>-->
                        <!--<input class="btn btn-info" type="submit" value="Launch Hangout">-->
                    <!--</p>-->
            </form>
        </div>
    </div>
</div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.js"></script>
<script src="/js/bs-table-formatter.js"></script>
</body>
</html>
